//
// Variables
// --------------------------------------------------


// Typography
// -------------------------

$font-family-sans-serif: 'Gentium Book Basic', Georgia, 'Times New Roman', Times, serif;
$font-size-base: 20px;

$headings-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-weight: 800;

$link-color: #000000;


// Glyphicons
// -------------------------

$icon-font-path: '../fonts/';
