<head>
  <title>{{ site.name }}&mdash;{{ site.tagline }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Facebook Meta Tags-->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.name }}">
  <meta property="og:description" content="{{ site.tagline }}">
  <meta property="og:image" content="/images/logo-small-epic.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator:id" content="{{ site.twitter }}">
  <meta name="twitter:site:id" content="{{ site.twitter }}">
  <meta name="twitter:title" content="{{ site.name }}">
  <meta name="twitter:description" content="{{ site.tagline }}">
  <meta name="twitter:image" content="/images/logo-small-epic.png">

  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,800|Gentium+Book+Basic:400,400italic" rel="stylesheet" media="screen">
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</head>
