//
// Margins
// --------------------------------------------------


// Rows
// -------------------------
//
// Add margin between rows.

.row + .row
{
  margin-top: $line-height-computed;
}


// Columns
// -------------------------
//
// Remove top and bottom margins from first and last elements within containers.

*[class^="col-"] > *:first-child,
.form-group > *:first-child,
.thumbnail > .caption > *:first-child,
.well > *:first-child
{
  margin-top: 0;
}

*[class^="col-"] > *:last-child,
.form-group > *:last-child,
.thumbnail > .caption > *:last-child,
.well > *:last-child
{
  margin-bottom: 0;
}
