//
// Sections
// --------------------------------------------------


body > header
{
  padding-bottom: $grid-gutter-width * 2;
  padding-top: $grid-gutter-width * 2;
}

body > section,
body > footer
{
  padding-bottom: $grid-gutter-width * 2;
  padding-top: $grid-gutter-width * 2;
}
